@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}


<label>User</label>
<input type="text" id="userInput" />
<br>
<label>Message</label>
<input type="text" id="messageInput" />
<br>
<input type="button" id="sendButton" value="Send Message" />
<br>
<ul id="messagesList"></ul>