@model IEnumerable<signalr_core_demo.Entities.UserEntity>  

@{
    ViewData["Title"] = "Home Page";
}

@*@if (Model != null)  {
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(x => item.firstName)</li>
        }
    </ul>
}*@


@*<label>User</label>
<input type="text" id="userInput" />
<br>
<label>Message</label>
<input type="text" id="messageInput" />
<br>
<input type="button" id="sendButton" value="Send Message" />
<br>
<ul id="messagesList"></ul>*@



<input type="text" id="emailAddress"/>
<input type="button" id="submit" value="Submit" />


<input type="button" id="connect" value="Connect" />
<ul id="usersOnline"></ul>